main{
    width: 100%;
    height: 100%;
}

.main__content-banner{
    background-image: url("../images/webdesign1.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px -31rem 18rem 3rem rgba(0,0,0,0.9) inset;
    -webkit-box-shadow: 0px -31rem 18rem 3rem rgba(0,0,0,0.9) inset;
    -moz-box-shadow: 0px -31rem 18rem 3rem rgba(0,0,0,0.9) inset;
    background-position: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.main__content-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    padding: 2rem;
}

.main__content-title{
    color: #ffffff;
    font-size: 4rem;
    width: 100%;
    text-align: -webkit-center;
    text-align: center;
    padding-bottom: 2rem;
    opacity: 0;
    animation: makeElementApperFromBottom 1s ease-in-out forwards;
    
}

.main__content-text{
    color: #ffffff;
    font-size: 1.5rem;
    width: 100%;
    max-width: 75rem;
    text-align: -webkit-center;
    text-align: center; 
    line-height: 1.9rem;
    text-overflow: ellipsis; /* Adds ellipsis to truncated text */
    animation: makeElementApperFromBottom 1s 1s ease-in-out forwards;
    opacity: 0;
}

.main__content-button-wrapper{
    position: relative;
    z-index: 1;
    animation: makeElementApperFromBottom 1s 2s ease-in-out forwards;
    opacity: 0;
}

.main__content-button{
    margin-top: 2rem;
    font-size: 1.8rem;
    padding: 1rem 1.5rem;
    background-color: #e0604c;
    border-radius: 1.5rem;
    font-weight: 300;
    cursor: pointer;
    animation: makeElementApperFromBottom 1s 2s ease-in-out forwards;
    opacity: 0;
}

.main__content-button-wrapper::after{
    content: "";
    width: 100%;
    height: 4rem;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 1.5rem;
    background: linear-gradient(to right, #c23636, #bd4205);
    filter: blur(15px);
    z-index: -1; 
    border-radius: 1rem;
    animation: spin 5s ease-in-out infinite;
    background-size: 200% 100%;
}

.main__content-button-wrapper:hover::after{
    background: linear-gradient(to right, #c2b2b2, #ff0303);
    animation: spinFast 2.3s ease-in-out infinite;
    background-size: 200% 100%;
    border-radius: 1rem;
}
 
@keyframes spin {
  0%{
    background-position: 50% 50% ; /* Start position */
  }
  30%{
    background-position: 100% 100%; /* Start position */
  }
  60%{
    background-position: 50% 50% ; /* Start position */
  }
  70%{
    background-position: 100% 100%; /* Start position */
  }
  100% {
    background-position: 50% 50%; /* End position */
  }
}

@keyframes spinFast {
  0%{
    background-position: 200% 100% ; /* Start position */
  }
  100% {
    background-position: 500% 100%; /* End position */
  }
}

@keyframes makeElementApper {
    100%{
        opacity: 1;
    }
}

@keyframes makeElementApperFromBottom {
    0%{
        transform: translateY(80px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 620px) {
    .main__content-text-control{
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .main__content{
        background-position: top;
    }

    .main__content-title {
        font-size: 3rem;
    }

    .main__content-text{
        font-size: 1.3rem;
    }

    .main__content-text-control{
        display: none;
    }
}

@media screen and (max-width: 425px) {
    .main__content-title {
        margin-top: 5rem;
        font-size: 2.4rem;
    }
}