.nav__menu-top{
    width: 100%;
    height: fit-content;
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    transition: background-color 1s ease-in-out;
    z-index: 99;
}

.nav__menu-wrapper{
    color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5rem;
    transition: 1s ease-in-out;
}

.nav__menu-logo{
    display: flex;
    color: #ffffff;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav__menu-logo-sym{
    width: 0.8rem;
    height: 1.7rem;
    background-color: #e0604c;
    margin-right: 0.4rem;
}

.nav__menu-itens ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.nav__menu-itens li{
    margin-right: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;
    padding: 0.6rem 1.2rem;
    position: relative;
    border-radius: 1rem;
    z-index: 1;
}

.nav__menu-itens li::after{
    content: "";
    border-radius: 1rem;
    position: absolute;
    width: 0;
    height: 100%;
    transition: width 0.3s ease-in-out;
    left: 0;
    bottom: 0;
    background-color: #bc6658;
    z-index: -1;
}

.nav__menu-itens li:hover::after{
    width: 100%;
}

.menu__logo-hamburguer{
    display: none;
}

.nav__logo-wrapper, .nav__menu-logo{
    transition: 1s ease-in-out;
}

.menu__logo-hamburguer.changeIcon{
    animation: rotateIconIn 2s forwards;
}

.menu__logo-hamburguer.changeIconOut{
    animation: rotateIconIOut 2s forwards;
}

@keyframes rotateIconIn {
    0%{
        transform: rotate(0);
        opacity: 1;
    }
    90%{
        transform: rotate(539deg);
        opacity: 0;
    }
    100%{
        transform: rotate(539deg);
        opacity: 1;
    }
}

@keyframes rotateIconIOut {
    0%{
        transform: rotate(0);
        opacity: 1;
    }
    90%{
        opacity: 0;
    }
    100%{
        transform: rotate(720deg);
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    .menu__logo-hamburguer{
        display: block;
    }
    .nav__logo-wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .nav__itens-wrapper{
        overflow:hidden;
        height: 0;
        transition: height 1s ease-in-out;
    }

    .nav__itens-wrapper.showMobilemenu{
        height: 9rem;
        padding-top: 2rem;
    }

    .nav__menu-wrapper{
        flex-direction: column;
    }

    .nav__menu-itens ul{
        flex-direction: column;
    }
}
